{{#if tree.parent}}
{{> breadcrumbs tree.parent}}
<li><a href="/{{tree.path}}" title="{{title}}">{{or navtitle title}}</a></li>
{{else}}
<li><a href="/{{tree.path}}" title="Startseite">
<span class="fa fa-home"></span><span class="sr-only">Startseite</span>
</a></li>
{{/if}}
