<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <h3>Contacts</h3>
        Georg-August-Universität Göttingen<br>
        Wilhelmsplatz 1<br>
        37073 Göttingen<br>
        Tel. +49 551 39-0<br>
        <a href="mailto:pressestelle@uni-goettingen.de">pressestelle@uni-goettingen.de</a>
      </div>
      <div class="col-sm-6 col-md-3">
        <h3>Social Media</h3>
        <ul id="social-buttons" class="row list-unstyled">
          <li class="col-xs-3"><a href="https://www.facebook.com/georgiaaugusta" class="facebook"><span class="fa fa-facebook"></span></a></li>
          <li class="col-xs-3"><a href="https://twitter.com/unigoettingen" class="twitter"><span class="fa fa-twitter"></span></a></li>
          <li class="col-xs-3"><a href="https://www.youtube.com/channel/UCzg-z2TL0Ks4Efz5o0z7AxQ" class="youtube"><span class="fa fa-youtube"></span></a></li>
          <li class="col-xs-3"><a href="https://www.instagram.com/unigoettingen/?hl=de" class="instagram"><span class="fa fa-instagram"></span></a></li>
        </ul>
      </div>
      <div class="clearfix visible-sm"></div>
      <div class="col-sm-6 col-md-4">
        <h3>Online Services</h3>
        <ul class="list-unstyled">
          <li><a href="https://univz.uni-goettingen.de/">Directories of courses and people (UniVZ)</a></li>
          <li><a href="https://www.uni-goettingen.de/en/45574.html">Examination management (FlexNow)</a></li>
          <li><a href="https://studip.uni-goettingen.de/">Learning Management System (Stud.IP)</a></li>
          <li><a href="https://ecampus.uni-goettingen.de/">Student Portal (eCampus)</a></li>
          <li><a href="https://intern.uni-goettingen.de/">Employee Portal (MaP)</a></li>
          <li><a href="https://www.uni-goettingen.de/en/305223.html">Job announcements</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-2">
        <h3>Service</h3>
        <ol class="list-unstyled">
          <li><a href="https://www.uni-goettingen.de/en/439479.html">Data Privacy Statement</a></li>
          <li><a href="https://www.uni-goettingen.de/en/545353.html">Contact Info</a></li>
          <li><a href="https://www.uni-goettingen.de/en/100652.html">Emergencies</a></li>
          <li><a href="https://www.geodata.uni-goettingen.de/lageplan/">Campus Map</a></li>
          <li><a href="https://www.uni-goettingen.de/en/90798.html">Site Info</a></li>
        </ol>
      </div>
    </div>
  </div>
</footer>
