<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <h3>Kontakt</h3>
        Georg-August-Universität Göttingen<br>
        Wilhelmsplatz 1<br>
        37073 Göttingen<br>
        Tel. +49 551 39-0<br>
        <a href="mailto:pressestelle@uni-goettingen.de">pressestelle@uni-goettingen.de</a>
      </div>
      <div class="col-sm-6 col-md-3">
        <h3>Soziale Medien</h3>
        <ul id="social-buttons" class="row list-unstyled">
          <li class="col-xs-3"><a href="https://www.facebook.com/georgiaaugusta" class="facebook"><span class="fa fa-facebook"></span></a></li>
          <li class="col-xs-3"><a href="https://twitter.com/unigoettingen" class="twitter"><span class="fa fa-twitter"></span></a></li>
          <li class="col-xs-3"><a href="https://www.youtube.com/channel/UCzg-z2TL0Ks4Efz5o0z7AxQ" class="youtube"><span class="fa fa-youtube"></span></a></li>
          <li class="col-xs-3"><a href="https://www.instagram.com/unigoettingen/?hl=de" class="instagram"><span class="fa fa-instagram"></span></a></li>
        </ul>
      </div>
      <div class="clearfix visible-sm"></div>
      <div class="col-sm-6 col-md-4">
        <h3>Online-Dienste</h3>
        <ul class="list-unstyled">
          <li><a href="https://univz.uni-goettingen.de/">Vorlesungsverzeichnis und Personensuche (UniVZ)</a></li>
          <li><a href="https://www.uni-goettingen.de/de/45574.html">Prüfungsverwaltung (FlexNow)</a></li>
          <li><a href="https://studip.uni-goettingen.de/">Lernmanagement (Stud.IP)</a></li>
          <li><a href="https://ecampus.uni-goettingen.de/">Studierendenportal (eCampus)</a></li>
          <li><a href="https://intern.uni-goettingen.de/">Mitarbeiterinnen- und Mitarbeiterportal (MaP)</a></li>
          <li><a href="https://www.uni-goettingen.de/de/305223.html">Stellenausschreibungen</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-2">
        <h3>Service</h3>
        <ol class="list-unstyled">
          <li><a href="https://www.uni-goettingen.de/de/439479.html">Datenschutz</a></li>
          <li><a href="https://www.uni-goettingen.de/de/545353.html">Kontakt</a></li>
          <li><a href="https://www.uni-goettingen.de/de/100652.html">Notfallnummern</a></li>
          <li><a href="https://www.geodata.uni-goettingen.de/lageplan/">Lageplan</a></li>
          <li><a href="https://www.uni-goettingen.de/de/90798.html">Impressum</a></li>
        </ol>
      </div>
    </div>
  </div>
</footer>
