<!doctype html>
<html dir="ltr" lang="de">
  <head>
    <title>Georg-August-Universität Göttingen - {{title}}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Webseiten der Georg-August-Universität Göttingen">
    <meta name="DC.description" content="Webseiten der Georg-August-Universität Göttingen">
    <meta name="author" content="Georg-August-Universität Göttingen - Öffentlichkeitsarbeit">
    <meta name="DC.creator" content="Georg-August-Universität Göttingen - Öffentlichkeitsarbeit">
    <meta name="geo.region" content="DE-NI" />
    <meta name="geo.placename" content="Göttingen" />
    <meta name="geo.position" content="51.534063;9.937966" />
    <meta name="ICBM" content="51.534063, 9.937966" />

    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/static/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/static/img/favicons/manifest.json">
    <link rel="mask-icon" href="/static/img/favicons/safari-pinned-tab.svg" color="#13306a">
    <meta name="theme-color" content="#13306a">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">

    <link rel="stylesheet" href="/static/stylesheets/default.css">
    <link rel="stylesheet" href="/static/stylesheets/nam.css">
    {{#each stylesheets}}
    <link rel="stylesheet" href="{{.}}">
    {{/each}}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="/static/js/navigation.js"></script>

    {{#if mathjax}}
    <script async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"
            crossorigin="anonymous"></script>
    {{/if}}
    {{#if (and livereload serve)}}
    <script src="http://localhost:35729/livereload.js"></script>
    {{/if}}

    <!-- Faculty color -->
    <style>
     #navigation-affix, #navigation-toggle, #search-content {
         background-color: #C1633E;
     }
     .box {
         border-color: #C1633E;
     }
    </style>

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"
              integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g="
              crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"
              integrity="sha256-g6iAfvZp+nDQ2TdTR/VVKJf3bGro4ub5fvWSWVRi2NE="
              crossorigin="anonymous"></script>
    <![endif]-->
  </head>

  <body>
    <header>
      <div class="container-fluid logo-container">
        <a href="https://www.uni-goettingen.de">
          <img id="logo" src="/static/img/logo.svg" alt="Georg-August-Universität Göttingen">
        </a>
        <span><a href="/{{tree.root.tree.firstMember.path}}">{{langinfo.sitename}}</a></span>
      </div>
    </header>

    <div id="navigation-container">
      <div id="navigation-affix">
        <div class="container-fluid">
          <a id="navigation-toggle" role="button" data-toggle="collapse" href="#navigation" aria-expanded="false" aria-controls="navigation">
            <span>{{langinfo.menu}}</span><span class="fa fa-bars"></span>
          </a>
          <div id="navigation" class="collapse">
            <nav>
              <ol>
                {{#each tree.root.tree.children}}
                <li><a href="/{{path}}">{{or navtitle title}}</a></li>
                {{/each}}
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div id="main">
      <div class="container-fluid">
        <div id="page-navigation" class="row hidden-xs">
          <nav id="breadcrumbs" class="col-sm-8">
            <ol>
              {{> breadcrumbs tree.firstMember}}
              {{#unless (eq tree.self tree.firstMember)}}{{! don't show self link again on index pages}}
              <li><a href="/{{path}}" title="{{title}}">{{or navtitle title}}</a></li>
              {{/unless}}
            </ol>
          </nav>
          <div id="search-button" class="col-sm-4">
            {{#each translations}}
            {{#unless (eq lang ../lang)}}
            <a class="langlink" href="/{{path}}"><span class="fa fa-globe"></span> {{langinfo.name}}</a>
            {{/unless}}
            {{/each}}
          </div>
        </div>

        <div id="page-content" class="row">
          <article class="{{#if sidebar}}col-sm-8{{else}}col-sm-12{{/if}}">
            <div class="container-fluid">
              <h1 class="headline">{{title}}</h1>
              {{{contents}}}
            </div>
          </article>

          {{#if sidebar}}
          <aside class="col-sm-4">

            {{#and tree.members.[1] tree.members}}{{! only show if there are at least two members}}
            <ol class="box navigation-links">
              <li class="separator">{{@root/langinfo.navigation}}</li>
              {{#each .}}
              <li {{#if (eq . @root/tree.self)}}class="current"{{/if}}>
                <a href="/{{path}}">{{or navtitle title}}</a>
              </li>
              {{/each}}
            </ol>
            {{/and}}

            {{#and tree.parent tree.children}}{{! don't show children for root node; they're already in the header}}
            <ol class="box subpage-links">
              <li class="separator">{{@root/langinfo.subpages}}</li>
              {{#each .}}
              <li><a href="/{{path}}">{{or navtitle title}}</a></li>
              {{/each}}
            </ol>
            {{/and}}

            {{#and links}}
            <ol class="box additional-links">
              <li class="separator">{{@root/langinfo.links}}</li>
              {{#each .}}
              <li>{{{.}}}</li>
              {{/each}}
            </ol>
            {{/and}}

          </aside>
          {{/if}}
        </div>
      </div>
    </div>
    {{> (lookup langinfo 'footer')}}
  </body>
</html>
